@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  font-family: "Inter", sans-serif;
}
body {
  background-color: black;
  margin: 0;
  background-image: url("./assets/nargacuga_background.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: cover;
}
a {
  text-decoration: none;
  color: white;
}
.main_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 48px 32px 0 32px;
}
.monster_hunter_logo {
  margin: 0;
}
.nav_monster_page {
  display: flex;
  gap: 32px;
  list-style-type: none;
  margin: 0;
}
.dot {
  position: absolute;
  left: 650px;
  top: -450px;
  height: 685px;
  width: 685px;
  border-radius: 50%;
  filter: blur(40px);
}
.dot_gradient {
  position: absolute;
  background: rgb(92, 200, 40);
  background: linear-gradient(
    180deg,
    rgb(77, 167, 35) 60%,
    rgba(0, 0, 0, 0) 100%
  );
  width: 100%;
  height: 100%;
  border-radius: 50%;
  filter: blur(65px);
}
.monster_name {
  display: flex;
  max-width: 230px;
  font-size: 20px;
  margin: auto;
  color: white;
}
.monster {
  display: flex;
  border: solid;
  background-color: rgba(27, 27, 27, 0.836);
  width: 230px;
  padding: 25px;
  justify-content: center;
  align-items: center;
  border-image: linear-gradient(180deg, green, black) 1;
  border-width: 2px;
  margin: 0;
}
.monsters{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 48px;
}
.monster_row{
  display: flex;
  gap: 48px;
  justify-content: center;
}